# C/C++
*.o
*.d
*.so

# Python
__init__.py
*.py[cod]

# ROOT
*.root

# vim
*.swp
*.swo

# Stuff
*~
*.log
*.err
*.out
*.dag.*
.nfs*
*.png
*.pdf
*.txt
*.tex
docker*

# tar
*.tar
*.gz

# Save data ntuples
!data/**
!madgraph/*
!madgraph/*/*
madgraph/*/SubProcesses/*/*
madgraph/output
madgraph/*/*.tar.gz
madgraph/*.tar.gz
